<a href="https://colab.research.google.com/github/ElenirOliveira/churn-insight-api/blob/main/Projeto_2_ChurnInsight_%E2%80%94_tratamento_finalizado_pronto_para_utiliza%C3%A7%C3%A3o_de_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
# Importa as bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
#dados = pd.read_csv('/content/WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [20]:
# URL do arquivo CSV no repositório GitHub (conteúdo raw)
github_url = 'https://raw.githubusercontent.com/ElenirOliveira/churn-insight-api/main/WA_Fn-UseC_-Telco-Customer-Churn.csv'

try:
    dados_github = pd.read_csv(github_url)
    print("Dados carregados com sucesso do GitHub!")
except Exception as e:
    print(f"Erro ao carregar dados do GitHub: {e}")

Dados carregados com sucesso do GitHub!

In [21]:
dados_github.head()
dados_github.shape
dados_github.info()
dados_github.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
count,7043,7043,7043.000000,7043,7043,7043.000000,7043,7043,7043,7043,...,7043,7043,7043,7043,7043,7043,7043,7043.000000,7043,7043
unique,7043,2,NaN,2,2,NaN,2,3,3,3,...,3,3,3,3,3,2,4,NaN,6531,2
top,3186-AJIEK,Male,NaN,No,No,NaN,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,NaN,,No
freq,1,3555,NaN,3641,4933,NaN,6361,3390,3096,3498,...,3095,3473,2810,2785,3875,4171,2365,NaN,11,5174
mean,NaN,NaN,0.162147,NaN,NaN,32.371149,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.761692,NaN,NaN
std,NaN,NaN,0.368612,NaN,NaN,24.559481,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.090047,NaN,NaN
min,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.250000,NaN,NaN
25%,NaN,NaN,0.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.500000,NaN,NaN
50%,NaN,NaN,0.000000,NaN,NaN,29.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.350000,NaN,NaN
75%,NaN,NaN,0.000000,NaN,NaN,55.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.850000,NaN,NaN
max,NaN,NaN,1.000000,NaN,NaN,72.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118.750000,NaN,NaN

In [22]:
columns_traducao = {
    'customerID': 'ID_Cliente',
    'gender': 'Genero',
    'SeniorCitizen': 'Cidadao_Senior',
    'Partner': 'Parceiro',
    'Dependents': 'Dependentes',
    'tenure': 'Permanencia_Meses',
    'PhoneService': 'Servico_Telefone',
    'MultipleLines': 'Multiplas_Linhas',
    'InternetService': 'Servico_Internet',
    'OnlineSecurity': 'Seguranca_Online',
    'OnlineBackup': 'Backup_Online',
    'DeviceProtection': 'Protecao_Dispositivo',
    'TechSupport': 'Suporte_Tecnico',
    'StreamingTV': 'TV_Streaming',
    'StreamingMovies': 'Filmes_Streaming',
    'Contract': 'Contrato',
    'PaperlessBilling': 'Fatura_Sem_Papel',
    'PaymentMethod': 'Metodo_Pagamento',
    'MonthlyCharges': 'Cobrancas_Mensais',
    'TotalCharges': 'Cobrancas_Totais',
    'Churn': 'Evasao'
}

dados_github = dados_github.rename(columns=columns_traducao)

In [23]:
translation_map = {
    'Female': 'Feminino',
    'Male': 'Masculino',
    'Yes': 'Sim',
    'No': 'Nao',
    'No phone service': 'Sem_servico_telefone',
    'DSL': 'DSL',
    'Fiber optic': 'Fibra_otica',
    'No internet service': 'Sem_servico_internet',
    'Month-to-month': 'Mensal',
    'One year': 'Um_ano',
    'Two year': 'Dois_anos',
    'Electronic check': 'Cheque_eletronico',
    'Mailed check': 'Cheque_enviado',
    'Bank transfer (automatic)': 'Transferencia_bancaria',
    'Credit card (automatic)': 'Cartao_credito'
}

for col in dados_github.select_dtypes(include='object').columns:
    if col != 'ID_Cliente':
        dados_github[col] = dados_github[col].replace(translation_map)

In [24]:
for col in dados_github.select_dtypes(include='object').columns:
    dados_github[col] = dados_github[col].str.strip().str.lower()

In [25]:
dados_github.columns = (
    dados_github.columns
    .str.normalize('NFKD')
    .str.encode('ascii', errors='ignore')
    .str.decode('utf-8')
    .str.lower()
)

In [26]:
colunas_numericas = [
    'permanencia_meses',
    'cobrancas_mensais',
    'cobrancas_totais'
]

dados_github[colunas_numericas] = dados_github[colunas_numericas].apply(
    pd.to_numeric, errors='coerce'
)

In [27]:
dados_github['cobrancas_totais'] = dados_github['cobrancas_totais'].fillna(0)
dados_github.isnull().sum()

id_cliente              0
genero                  0
cidadao_senior          0
parceiro                0
dependentes             0
permanencia_meses       0
servico_telefone        0
multiplas_linhas        0
servico_internet        0
seguranca_online        0
backup_online           0
protecao_dispositivo    0
suporte_tecnico         0
tv_streaming            0
filmes_streaming        0
contrato                0
fatura_sem_papel        0
metodo_pagamento        0
cobrancas_mensais       0
cobrancas_totais        0
evasao                  0
dtype: int64

In [28]:
dados_github = dados_github.drop_duplicates(subset='id_cliente')

In [29]:
dados_github['evasao'] = dados_github['evasao'].map({'sim': 1, 'nao': 0})

In [30]:
dados_github['ticket_medio'] = (
    dados_github['cobrancas_totais'] / (dados_github['permanencia_meses'] + 1)
)

dados_github['cliente_novo'] = dados_github['permanencia_meses'].apply(
    lambda x: 1 if x <= 6 else 0
)

In [31]:
X = dados_github.drop(columns=['evasao', 'id_cliente'])
y = dados_github['evasao']

In [32]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

categoricas = X.select_dtypes(include='object').columns
numericas = X.select_dtypes(exclude='object').columns

preprocessador = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numericas),
        ('cat', OneHotEncoder(handle_unknown='ignore'), categoricas)
    ]
)

In [33]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression

pipeline = Pipeline(steps=[
    ('preprocessamento', preprocessador),
    ('modelo', LogisticRegression(max_iter=1000))
])

In [34]:
dados_github.to_csv(
    'churn_telco_dados_tratados.csv',
    index=False
)

print("CSV final salvo com sucesso: churn_telco_dados_tratados.csv")

CSV final salvo com sucesso: churn_telco_dados_tratados.csv